# Credit for this code goes to Benoit THIBAUD , We just made the favorites backround white.

style "panel-menu" {
	xthickness = 0
	ythickness = 1

	bg[NORMAL] = shade (1.30, @bg_color_dark)
	bg[ACTIVE] = shade (1.25, @selected_bg_color)
	bg[PRELIGHT] = shade (0.95, @selected_bg_color)
	fg[NORMAL] = @fg_color_dark
	fg[ACTIVE] = shade (1.02, @fg_color)
	fg[PRELIGHT] = @selected_fg_color
	fg[INSENSITIVE]   = shade (0.55, @fg_color_dark)
	GtkWidget::focus-line-width = 0
}

style "favorites" {
	base[NORMAL]	= mix (0.84, shade (1.05, @bg_color), shade (0.99, @fg_color_dark))
	bg[NORMAL]		= mix (0.35, @bg_color, shade (1.45, @fg_color_dark))
	GtkPaned::handle-size		= 0
	GtkWidget::focus-line-width	= 1
	
	engine "murrine" {
		contrast		= 0.5
		gradient_shades	= {1.1,0.95,0.95,0.85}
	}
}

# MintMenu WhiskerMenu applets
widget "mintmenu*"			 style "panel-menus"
widget "whiskermenu-window*"	         style "panel-menus"
widget "whiskermenu-window*TreeView*"	 style "favorites"
