[Desktop Entry]
Name=Windows 10 Dark
X-KDE-PluginInfo-Author=Christian Medel (Elbullazul)
X-KDE-PluginInfo-Category=Aurorae Decoration Theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=cmedelahumada@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v2
X-KDE-PluginInfo-Name=Windows 10 Dark
X-KDE-PluginInfo-Version=1.0
