[Desktop Entry]
Name=Windows 10
X-KDE-PluginInfo-Author=Frank Souza
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=franksouza183@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=Attribution-ShareAlike 4.0 International
X-KDE-PluginInfo-Name=Windows 10
X-KDE-PluginInfo-Version=1.0
