/*Windows 10 Default Assets */
/*Artwork by Maxime Doyen */

/*******************
 * check and radio *
 *******************/
/* draw regular check and radio items using our assets */
.check,
.check row:selected,
.check row:selected:focus {
    background-image: url("assets/checkbox-unchecked.png");
}

.check:insensitive,
.check row:selected:insensitive,
.check row:selected:focus:insensitive {
    background-image: url("assets/checkbox-unchecked-insensitive.png");
}

.check:hover,
.check row:selected:hover,
.check row:selected:focus:hover {
    background-image: url("assets/checkbox-unchecked-over.png");
}

.check:active,
.check row:selected:active,
.check row:selected:focus:active {
    background-image: url("assets/checkbox-checked.png");
}

.check:active:hover,
.check row:selected:active:hover,
.check row:selected:focus:active:hover {
    background-image: url("assets/checkbox-checked-over.png");
}

.check:active:insensitive,
.check row:selected:active:insensitive,
.check row:selected:focus:active:insensitive {
    background-image: url("assets/checkbox-checked-insensitive.png");
}

.check:inconsistent,
.check row:selected:inconsistent,
.check row:selected:focus:inconsistent {
    background-image: url("assets/checkbox-mixed.png");
}

.check:inconsistent:insensitive,
.check row:selected:inconsistent:insensitive,
.check row:selected:focus:inconsistent:insensitive {
    background-image: url("assets/checkbox-mixed-insensitive.png");
}


.radio,
.view.cell.radio {
    background-image: url("assets/radio-unselected.png");
}

.radio:insensitive {
    background-image: url("assets/radio-unselected-insensitive.png");
}

.radio:hover {
    background-image: url("assets/radio-unselected-over.png");
}

.radio:active {
    background-image: url("assets/radio-selected.png");
}

.radio:active:hover {
    background-image: url("assets/radio-selected-over.png");
}

.radio:active:insensitive {
    background-image: url("assets/radio-selected-insensitive.png");
}

.radio:inconsistent {
    background-image: url("assets/radio-mixed.png");
}

.radio:inconsistent:insensitive {
    background-image: url("assets/radio-mixed-insensitive.png");
}

/* menuitem */

.menuitem.check:active {
    background-image: url("assets/menuitem-checkbox-checked.png");
}

.menuitem.check:active:insensitive {
    background-image: url("assets/menuitem-checkbox-checked-insensitive.png");
}

.menuitem.check:inconsistent,
.menuitem.radio:inconsistent {
    background-image: url("assets/menuitem-checkbox-mixed.png");
}

.menuitem.check:inconsistent:insensitive,
.menuitem.radio:inconsistent:insensitive {
    background-image: url("assets/menuitem-checkbox-mixed-insensitive.png");
}

.menuitem.radio:active {
    background-image: url("assets/menuitem-radio-checked.png");
}

.menuitem.radio:active:insensitive {
    background-image: url("assets/menuitem-radio-checked-insensitive.png");
}

/******************
 * window actions *
 ******************/

.titlebar .titlebutton.minimize {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("buttons/minimize-focused-normal.png"));
}

.titlebar .titlebutton.minimize:backdrop {
    background-image: -gtk-scaled(url("buttons/minimize-unfocused-normal.png"));
    color: transparent;
}

.titlebar .titlebutton.minimize:hover,
.titlebar .titlebutton.minimize:active,
.titlebar .titlebutton.minimize:checked {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("buttons/minimize-focused-active.png"));
}

.titlebar .titlebutton.maximize {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("buttons/maximize-focused-normal.png"));
}

.titlebar .titlebutton.maximize:backdrop {
    background-image: -gtk-scaled(url("buttons/maximize-unfocused-normal.png"));
    color: transparent;
}


.titlebar .titlebutton.maximize:hover, 
.titlebar .titlebutton.maximize:active,
.titlebar .titlebutton.maximize:checked  {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("buttons/maximize-focused-active.png"));
}

.titlebar .titlebutton.close {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("buttons/close-focused-normal.png"));
}

.titlebar .titlebutton.close:backdrop {
    background-image: -gtk-scaled(url("buttons/close-unfocused-normal.png"));
    color: transparent;
}


.titlebar .titlebutton.close:hover,
.titlebar .titlebutton.close:active,
.titlebar .titlebutton.close:checked  {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("buttons/close-focused-active.png"));
}
