/*************************
 * Check and Radio items *
 *************************/
@keyframes check_radio_hover {
  from {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.001, to(alpha(rgba(38, 50, 56, 0.75), 0.1)), to(transparent)); }
  to {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(rgba(38, 50, 56, 0.75), 0.1)), to(transparent)); } }
@keyframes check_radio_active {
  from {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.001, to(alpha(#00BCD4, 0.1)), to(transparent)); }
  to {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(#00BCD4, 0.1)), to(transparent)); } }
@keyframes check_radio_active_reverse {
  from {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(alpha(#00BCD4, 0.2)), to(transparent)); }
  to {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.001, to(alpha(#00BCD4, 0)), to(transparent)); } }
.check, check {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.png"), url("assets/checkbox-unchecked@2.png"));
  -gtk-icon-shadow: none; }
  .check:backdrop, check:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.check:hover, check:hover {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-over.png"), url("assets/checkbox-unchecked-over@2.png"));
  -gtk-icon-shadow: none; }
  .check:hover:backdrop, check:hover:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.check:active, check:active {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-over.png"), url("assets/checkbox-unchecked-over@2.png"));
  -gtk-icon-shadow: none; }
  .check:active:backdrop, check:active:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.check:disabled, check:disabled {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive.png"), url("assets/checkbox-unchecked-insensitive@2.png"));
  -gtk-icon-shadow: none; }
  .check:disabled:backdrop, check:disabled:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.check:indeterminate, check:indeterminate {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed.png"), url("assets/checkbox-mixed@2.png"));
  -gtk-icon-shadow: none; }
  .check:indeterminate:backdrop, check:indeterminate:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.check:indeterminate:hover, check:indeterminate:hover {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-over.png"), url("assets/checkbox-mixed-over@2.png"));
  -gtk-icon-shadow: none; }
  .check:indeterminate:hover:backdrop, check:indeterminate:hover:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.check:indeterminate:active, check:indeterminate:active {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-over.png"), url("assets/checkbox-mixed-over@2.png"));
  -gtk-icon-shadow: none; }
  .check:indeterminate:active:backdrop, check:indeterminate:active:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.check:indeterminate:disabled, check:indeterminate:disabled {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive.png"), url("assets/checkbox-mixed-insensitive@2.png"));
  -gtk-icon-shadow: none; }
  .check:indeterminate:disabled:backdrop, check:indeterminate:disabled:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.check:checked, check:checked {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.png"), url("assets/checkbox-checked@2.png"));
  -gtk-icon-shadow: none; }
  .check:checked:backdrop, check:checked:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.check:checked:hover, check:checked:hover {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-over.png"), url("assets/checkbox-checked-over@2.png"));
  -gtk-icon-shadow: none; }
  .check:checked:hover:backdrop, check:checked:hover:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.check:checked:active, check:checked:active {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-over.png"), url("assets/checkbox-checked-over@2.png"));
  -gtk-icon-shadow: none; }
  .check:checked:active:backdrop, check:checked:active:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.check:checked:disabled, check:checked:disabled {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive.png"), url("assets/checkbox-checked-insensitive@2.png"));
  -gtk-icon-shadow: none; }
  .check:checked:disabled:backdrop, check:checked:disabled:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

menu menuitem.check,
menu menuitem check {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.png"), url("assets/checkbox-unchecked@2.png"));
  -gtk-icon-shadow: none; }
  menu menuitem.check:hover,
  menu menuitem check:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked.png"), url("assets/checkbox-unchecked@2.png"));
    animation: none;
    -gtk-icon-shadow: none;
    transition: none; }
  menu menuitem.check:backdrop,
  menu menuitem check:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

menu menuitem.check:disabled,
menu menuitem check:disabled {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive.png"), url("assets/checkbox-insensitive@2.png"));
  -gtk-icon-shadow: none; }
  menu menuitem.check:disabled:hover,
  menu menuitem check:disabled:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-unchecked-insensitive.png"), url("assets/checkbox-insensitive@2.png"));
    animation: none;
    -gtk-icon-shadow: none;
    transition: none; }
  menu menuitem.check:disabled:backdrop,
  menu menuitem check:disabled:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

menu menuitem.check:indeterminate,
menu menuitem check:indeterminate {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed.png"), url("assets/checkbox-mixed@2.png"));
  -gtk-icon-shadow: none; }
  menu menuitem.check:indeterminate:hover,
  menu menuitem check:indeterminate:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed.png"), url("assets/checkbox-mixed@2.png"));
    animation: none;
    -gtk-icon-shadow: none;
    transition: none; }
  menu menuitem.check:indeterminate:backdrop,
  menu menuitem check:indeterminate:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

menu menuitem.check:indeterminate:disabled,
menu menuitem check:indeterminate:disabled {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive.png"), url("assets/checkbox-mixed-insensitive@2.png"));
  -gtk-icon-shadow: none; }
  menu menuitem.check:indeterminate:disabled:hover,
  menu menuitem check:indeterminate:disabled:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-mixed-insensitive.png"), url("assets/checkbox-mixed-insensitive@2.png"));
    animation: none;
    -gtk-icon-shadow: none;
    transition: none; }
  menu menuitem.check:indeterminate:disabled:backdrop,
  menu menuitem check:indeterminate:disabled:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

menu menuitem.check:checked,
menu menuitem check:checked {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.png"), url("assets/checkbox-checked@2.png"));
  -gtk-icon-shadow: none; }
  menu menuitem.check:checked:hover,
  menu menuitem check:checked:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked.png"), url("assets/checkbox-checked@2.png"));
    animation: none;
    -gtk-icon-shadow: none;
    transition: none; }
  menu menuitem.check:checked:backdrop,
  menu menuitem check:checked:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

menu menuitem.check:checked:disabled,
menu menuitem check:checked:disabled {
  -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive.png"), url("assets/checkbox-checked-insensitive@2.png"));
  -gtk-icon-shadow: none; }
  menu menuitem.check:checked:disabled:hover,
  menu menuitem check:checked:disabled:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/checkbox-checked-insensitive.png"), url("assets/checkbox-checked-insensitive@2.png"));
    animation: none;
    -gtk-icon-shadow: none;
    transition: none; }
  menu menuitem.check:checked:disabled:backdrop,
  menu menuitem check:checked:disabled:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.radio, radio {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-unselected.png"), url("assets/radio-unselected@2.png"));
  -gtk-icon-shadow: none; }
  .radio:backdrop, radio:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.radio:hover, radio:hover {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-unselected-over.png"), url("assets/radio-unselected-over@2.png"));
  -gtk-icon-shadow: none; }
  .radio:hover:backdrop, radio:hover:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.radio:active, radio:active {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-unselected-over.png"), url("assets/radio-unselected-over@2.png"));
  -gtk-icon-shadow: none; }
  .radio:active:backdrop, radio:active:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.radio:disabled, radio:disabled {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-unselected-insensitive.png"), url("assets/radio-unselected-insensitive@2.png"));
  -gtk-icon-shadow: none; }
  .radio:disabled:backdrop, radio:disabled:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.radio:indeterminate, radio:indeterminate {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed.png"), url("assets/radio-mixed@2.png"));
  -gtk-icon-shadow: none; }
  .radio:indeterminate:backdrop, radio:indeterminate:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.radio:indeterminate:hover, radio:indeterminate:hover {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-over.png"), url("assets/radio-mixed-over@2.png"));
  -gtk-icon-shadow: none; }
  .radio:indeterminate:hover:backdrop, radio:indeterminate:hover:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.radio:indeterminate:active, radio:indeterminate:active {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-over.png"), url("assets/radio-mixed-over@2.png"));
  -gtk-icon-shadow: none; }
  .radio:indeterminate:active:backdrop, radio:indeterminate:active:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.radio:indeterminate:disabled, radio:indeterminate:disabled {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive.png"), url("assets/radio-mixed-insensitive@2.png"));
  -gtk-icon-shadow: none; }
  .radio:indeterminate:disabled:backdrop, radio:indeterminate:disabled:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.radio:checked, radio:checked {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-selected.png"), url("assets/radio-selected@2.png"));
  -gtk-icon-shadow: none; }
  .radio:checked:backdrop, radio:checked:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.radio:checked:hover, radio:checked:hover {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-selected-over.png"), url("assets/radio-selected-over@2.png"));
  -gtk-icon-shadow: none; }
  .radio:checked:hover:backdrop, radio:checked:hover:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.radio:checked:active, radio:checked:active {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-selected-over.png"), url("assets/radio-selected-over@2.png"));
  -gtk-icon-shadow: none; }
  .radio:checked:active:backdrop, radio:checked:active:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

.radio:checked:disabled, radio:checked:disabled {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-selected-insensitive.png"), url("assets/radio-selected-insensitive@2.png"));
  -gtk-icon-shadow: none; }
  .radio:checked:disabled:backdrop, radio:checked:disabled:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

menu menuitem.radio,
menu menuitem radio {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-unselected.png"), url("assets/radio-unselected@2.png"));
  -gtk-icon-shadow: none; }
  menu menuitem.radio:hover,
  menu menuitem radio:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-unselected.png"), url("assets/radio-unselected@2.png"));
    animation: none;
    -gtk-icon-shadow: none;
    transition: none; }
  menu menuitem.radio:backdrop,
  menu menuitem radio:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

menu menuitem.radio:disabled,
menu menuitem radio:disabled {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-unselected-insensitive.png"), url("assets/radio-insensitive@2.png"));
  -gtk-icon-shadow: none; }
  menu menuitem.radio:disabled:hover,
  menu menuitem radio:disabled:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-unselected-insensitive.png"), url("assets/radio-insensitive@2.png"));
    animation: none;
    -gtk-icon-shadow: none;
    transition: none; }
  menu menuitem.radio:disabled:backdrop,
  menu menuitem radio:disabled:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

menu menuitem.radio:indeterminate,
menu menuitem radio:indeterminate {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed.png"), url("assets/radio-mixed@2.png"));
  -gtk-icon-shadow: none; }
  menu menuitem.radio:indeterminate:hover,
  menu menuitem radio:indeterminate:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed.png"), url("assets/radio-mixed@2.png"));
    animation: none;
    -gtk-icon-shadow: none;
    transition: none; }
  menu menuitem.radio:indeterminate:backdrop,
  menu menuitem radio:indeterminate:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

menu menuitem.radio:indeterminate:disabled,
menu menuitem radio:indeterminate:disabled {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive.png"), url("assets/radio-mixed-insensitive@2.png"));
  -gtk-icon-shadow: none; }
  menu menuitem.radio:indeterminate:disabled:hover,
  menu menuitem radio:indeterminate:disabled:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-mixed-insensitive.png"), url("assets/radio-mixed-insensitive@2.png"));
    animation: none;
    -gtk-icon-shadow: none;
    transition: none; }
  menu menuitem.radio:indeterminate:disabled:backdrop,
  menu menuitem radio:indeterminate:disabled:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

menu menuitem.radio:checked,
menu menuitem radio:checked {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-selected.png"), url("assets/radio-selected@2.png"));
  -gtk-icon-shadow: none; }
  menu menuitem.radio:checked:hover,
  menu menuitem radio:checked:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-selected.png"), url("assets/radio-selected@2.png"));
    animation: none;
    -gtk-icon-shadow: none;
    transition: none; }
  menu menuitem.radio:checked:backdrop,
  menu menuitem radio:checked:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

menu menuitem.radio:checked:disabled,
menu menuitem radio:checked:disabled {
  -gtk-icon-source: -gtk-scaled(url("assets/radio-selected-insensitive.png"), url("assets/radio-selected-insensitive@2.png"));
  -gtk-icon-shadow: none; }
  menu menuitem.radio:checked:disabled:hover,
  menu menuitem radio:checked:disabled:hover {
    -gtk-icon-source: -gtk-scaled(url("assets/radio-selected-insensitive.png"), url("assets/radio-selected-insensitive@2.png"));
    animation: none;
    -gtk-icon-shadow: none;
    transition: none; }
  menu menuitem.radio:checked:disabled:backdrop,
  menu menuitem radio:checked:disabled:backdrop {
    opacity: 0.8;
    transition: 0.2s; }

treeview.view check:selected:focus, treeview.view check:selected,
treeview.view radio:selected:focus,
treeview.view radio:selected {
  color: @theme_fg_color;
  border-color: shade(@theme_selected_bg_color, 0.6); }
treeview.view check:selected:disabled,
treeview.view radio:selected:disabled {
  color: @insensitive_fg_color; }
  treeview.view check:selected:disabled:backdrop,
  treeview.view radio:selected:disabled:backdrop {
    color: shade(@theme_unfocused_fg_color, 1.1); }
treeview.view check:backdrop:selected, treeview.view check:backdrop,
treeview.view radio:backdrop:selected,
treeview.view radio:backdrop {
  color: @insensitive_fg_color; }

/**********************
 * Scrollbar steppers *
 **********************/
 
 /* TODO: Fix this also

.scrollbar.button.vertical.top,
.scrollbar.button.vertical.top:disabled {
    background-image: -gtk-scaled("scrollbars/up.png");
    border-image: -gtk-scaled("scrollbars/up.png");
    background-size: cover;
    border-width: 0px;
    border-style: none;
    color: transparent;
}

.scrollbar.button.vertical.bottom,
.scrollbar.button.vertical.bottom:disabled {
    background-image: -gtk-scaled("scrollbars/down.png");
    border-image: -gtk-scaled("scrollbars/down.png");
    background-size: cover;
    border-width: 0px;
    border-style: none;
}

.scrollbar.button.horizontal.left,
.scrollbar.button.horizontal.left:disabled {
    background-image: -gtk-scaled("scrollbars/left.png");
    border-image: -gtk-scaled("scrollbars/left.png");
    border-width: 0px;
    border-style: none;
}

.scrollbar.button.horizontal.right,
.scrollbar.button.horizontal.right:disabled {
    background-image: -gtk-scaled("scrollbars/right.png");
    border-image: -gtk-scaled("scrollbars/right.png");
    border-width: 0px;
    border-style: none;
} */

/******************
 * window actions *
 ******************/

.titlebar .titlebutton.minimize {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("buttons/minimize-focused-normal.png");
}

.titlebar .titlebutton.minimize:backdrop {
    background-image: url("buttons/minimize-unfocused-normal.png");
    color: transparent;
}

.titlebar .titlebutton.minimize:hover,
.titlebar .titlebutton.minimize:active/*,
.titlebar .titlebutton.minimize:checked*/ {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("buttons/minimize-focused-active.png");
}

.titlebar .titlebutton.maximize {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("buttons/maximize-focused-normal.png");
}

.titlebar .titlebutton.maximize:backdrop {
    background-image: url("buttons/maximize-unfocused-normal.png");
    color: transparent;
}


.titlebar .titlebutton.maximize:hover, 
.titlebar .titlebutton.maximize:active/*,
.titlebar .titlebutton.maximize:checked*/  {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("buttons/maximize-focused-active.png");
}

.titlebar .titlebutton.close {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("buttons/close-focused-normal.png");
}

.titlebar .titlebutton.close:backdrop {
    background-image: url("buttons/close-unfocused-normal.png");
    color: transparent;
}


.titlebar .titlebutton.close:hover,
.titlebar .titlebutton.close:active/*,
.titlebar .titlebutton.close:checked*/  {
    color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("buttons/close-focused-active.png");
}
