/* Normal colors */
@import url("gtk-widgets.css");
@define-color bg_color #ffffff;
@define-color fg_color #000000;
@define-color base_color #FFFFFF;
@define-color text_color #000000;
@define-color selected_bg_color #cce8ff;
@define-color selected_fg_color #000000;
@define-color selected_base_color #0078d7;
@define-color selected_text_color #ffffff;
@define-color disabled_bg_color mix(@fg_color, @bg_color, 0.95);
@define-color disabled_fg_color mix(@fg_color, @bg_color, 0.5);
@define-color disabled_base_color @disabled_bg_color;
@define-color disabled_text_color @disabled_fg_color;
/* Backdrop state colors */
@define-color unfocused_bg_color @bg_color;
@define-color unfocused_fg_color @fg_color;
@define-color unfocused_base_color @base_color;
@define-color unfocused_text_color @text_color;
@define-color unfocused_selected_bg_color @selected_bg_color;
@define-color unfocused_selected_fg_color @selected_fg_color;
@define-color unfocused_disabled_bg_color mix(@fg_color, @bg_color, 0.98);
@define-color unfocused_disabled_fg_color mix(@fg_color, @bg_color, 0.75);
@define-color unfocused_disabled_base_color @unfocused_disabled_bg_color;
@define-color unfocused_disabled_text_color @unfocused_disabled_fg_color;
/* Darker color scheme */
@define-color dark_bg_color #ffffff;
@define-color dark_fg_color #000000;
/* Theme colors */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_selected_base_color @selected_base_color;
@define-color theme_selected_text_color @selected_text_color;
@define-color theme_disabled_bg_color @disabled_bg_color;
@define-color theme_disabled_fg_color @disabled_fg_color;
@define-color theme_disabled_text_color @disabled_text_color;
@define-color theme_disabled_base_color @disabled_base_color;
/* Unfocused color scheme */
@define-color theme_unfocused_bg_color @unfocused_bg_color;
@define-color theme_unfocused_fg_color @unfocused_fg_color;
@define-color theme_unfocused_base_color @unfocused_base_color;
@define-color theme_unfocused_text_color @unfocused_text_color;
@define-color theme_unfocused_selected_bg_color @unfocused_selected_bg_color;
@define-color theme_unfocused_selected_fg_color @unfocused_selected_fg_color;
@define-color theme_unfocused_disabled_bg_color @unfocused_disabled_bg_color;
@define-color theme_unfocused_disabled_fg_color @unfocused_disabled_fg_color;
@define-color theme_unfocused_disabled_text_color @unfocused_disabled_text_color;
@define-color theme_unfocused_disabled_base_color @unfocused_disabled_base_color;
/* Shadows */
@define-color dark_shadow rgb(0, 0, 0);
@define-color color_shadow @selected_bg_color;
@define-color light_shadow rgb(255, 255, 255);
/* Borders */
@define-color borders shade(@bg_color, 0.9);
@define-color outline_color shade(@bg_color, 0.75);
@define-color unfocused_borders shade(@unfocused_bg_color, 0.9);
/* Notification header backgrounds */
@define-color info_fg_color #FFFFFF;
@define-color info_bg_color #0055FF;
@define-color warning_fg_color #FFFFFF;
@define-color warning_bg_color #FF8300;
@define-color question_fg_color #FFFFFF;
@define-color question_bg_color #2C2C2C;
@define-color error_fg_color #FFFFFF;
@define-color error_bg_color #FF0000;
@define-color link_color #224ba0;
@define-color error_color #CC0000;
@define-color success_color #39e4a3;
@define-color warning_color #FF9900;
/* Widget colors */
@define-color tooltip_bg_color @dark_bg_color;
@define-color tooltip_fg_color @dark_fg_color;
@define-color menu_bg_color @bg_color;
@define-color menu_fg_color @fg_color;
@define-color menubar_bg_color @bg_color;
@define-color menubar_fg_color @fg_color;
@define-color toolbar_bg_color @bg_color;
@define-color toolbar_fg_color @fg_color;
@define-color sidebar_bg_color @dark_bg_color;
@define-color sidebar_fg_color @dark_fg_color;
@define-color taskbar_bg_color #0c0c0c;
@define-color taskbar_fg_color #ffffff;
@define-color titlebar_bg_color @bg_color;
@define-color titlebar_fg_color @fg_color;
@define-color headerbar_bg_color @bg_color;
@define-color headerbar_fg_color @fg_color;
@define-color terminal_bg_color @fg_color;
@define-color terminal_fg_color @bg_color;
@define-color progressbar_bg_color #06B025;
@define-color progressbar_fg_color @selected_fg_color;
/* OSD */
@define-color osd_fg @dark_bg_color;
@define-color osd_bg mix(@dark_fg_color, @dark_bg_color, 0.2);
@define-color osd_base @dark_fg_color;
/* Budgie colors */
@define-color raven_fg_color @dark_fg_color;
@define-color raven_bg_color alpha(@dark_bg_color, 0.9);
/* Desktop Icons */
@define-color desktop_item_fg #FFFFFF;
@define-color desktop_item_selected_fg @selected_fg_color;
@define-color desktop_item_text_shadow alpha(@dark_shadow, 0.8);
/* LightDM greeter colors */
@define-color lightdm_bg_color @dark_bg_color;
@define-color lightdm_fg_color @dark_fg_color;
@define-color wm_title @titlebar_fg_color;
@define-color wm_unfocused_title @unfocused_fg_color;
@define-color wm_highlight alpha(@light_shadow, 0.8);
@define-color wm_borders_edge alpha(@light_shadow, 0.8);
@define-color wm_bg_a alpha(@selected_bg_color, 1.2);
@define-color wm_bg_b alpha(@selected_bg_color, 1.2);
@define-color wm_shadow alpha(@dark_shadow, 0.35);
@define-color wm_border alpha(@dark_shadow, 0.35);
@define-color wm_button_hover_color_a alpha(@selected_bg_color, 1.3);
@define-color wm_button_hover_color_b alpha(@selected_bg_color, 1.3);
@define-color wm_button_active_color_a alpha(@selected_bg_color, 0.85);
@define-color wm_button_active_color_b alpha(@selected_bg_color, 0.85);
@define-color wm_button_active_color_c alpha(@selected_bg_color, 0.85);
@define-color content_view_bg @base_color;
